/* ===== Container for blocking elements =====*/
#nuiPanelContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#nuiPanelContainer.hidden {
  display: none;
}

/* ===== Frame ===== */
.nuiPanelFrame > *, .nuiPanelFrame > *::before, .nuiPanelFrame > *::after { box-sizing: border-box; }

.nuiPanelFrame {
  z-index: 4;
  position: absolute;
  border: 1px solid #000;
  transition: opacity 0.3s;
  background-color: #fff;
}

.nuiPanelFrame.closing {
  opacity: 0;
}
.nuiPanelFrame.closed {
  display: none;
}

/* ===== Title Bar ===== */
.nuiPanelTitle {
  height: 2em;
  background: #000;
  color: #fff;
  font-size: 0.8em;
  padding: 0.6em;
  border: 0;
  margin: 0;
}

.nuiPanelTitle * {
  font-family: "Segoe UI", "Tahoma", serif;
  line-height: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

/* ===== Close Button ===== */
.nuiPanelCloseBtn {
  position: relative;
  top: -0.6em;
  left: 0.6em;
  float: right;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 1em;
  text-align: center;
  transition: background 0.2s;
}

.nuiPanelCloseBtn:hover {
  background-color: rgb(232, 17, 15);
}