/* ===== Container for blocking elements =====*/
#nuiPanelContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

#nuiPanelContainer.hidden {
  display: none;
}

/* ===== Frame ===== */
.nuiPanelFrame {
  z-index: 4;
  position: absolute;
  border: 1px solid #000;
  transition: opacity 0.2s;
  background-color: #fff;
  overflow: hidden;
}

.nuiPanelFrame.closing {
  opacity: 0;
}
.nuiPanelFrame.closed {
  display: none;
}

.nuiPanelFrame.darwin {
  border-radius: 10px;
}

/* ===== Title Bar ===== */
.nuiPanelTitle {
/*  height: 2em;*/
  background: #000;
  color: #fff;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  border: 0;
  margin: 0;
}

.nuiPanelTitle * {
  box-sizing: border-box;
}

.nuiPanelTitle * {
  font-family: "Segoe UI", "Tahoma", serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.darwin div.nuiPanelTitle {
  padding: 0.4em;
  text-align: center;
}

/* ===== Close Button ===== */
.nuiPanelCloseBtn {
  position: relative;
  top: -0.6em;
  left: 0.6em;
  float: right;
  padding: 0.5em;
  margin: 0;
  font-size: 1em;
  text-align: center;
  transition: background 0.2s;
}

.darwin div.nuiPanelCloseBtn {
  top: 0;
  left: 0;
  float: left;
  padding: 0.5em;
  margin-right: 0.4em;
  background: red;
  border-radius: 50px;
}

.win32 div.nuiPanelCloseBtn {
  float: right;
  padding: 0.6em 1em;
}

.nuiPanelCloseBtn:hover {
  background-color: rgb(232, 17, 15);
}